<h1>Tasks#new</h1>
<%= form_with model: @task, url: {action: :create},local: true do |f| %>
<%= f.hidden_field :category_id, value: params[:category_id] %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :memo %>
<%= f.text_field :memo %>
<%= f.submit "登録する" %>
<% end %>
